
body{
    /* background-image:url(img/download.jpg); */
}


#pokemon-detail{
    display: grid;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    
    width: 500px;
}

img{
    margin: 0 auto;
    display: grid;
    width: 400px;
}
